@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address><hr/>
    University Antonine<br />
    Lebanon<br />
    Beirut,Baabda<br />
    <hr/>
    <abbr title="Uni Id">University Antonine ID's:</abbr>
    <p>201720557 Hasan Fares</p>
    <p>201810056 Patrick Abi Aad</p>
</address>

<address>
    <strong>Hasan Fares:</strong> <a href="mailto:201720557@ua.edu.lb">201720557@ua.edu.lb</a><br />
    <strong>Patrick Abi Aad:</strong> <a href="mailto:201810056@ua.edu.lb">201810056@ua.edu.lb</a>
</address>
